.clock{
  background-color:rgba(0,0,0,0.6);
  border-radius:8px;
  padding:8px;
}

.weather{
  background-color:rgba(0,0,0,0.6);
  border-radius:8px;
  padding:8px;
}

#GPHOTO_CURRENT {
  max-height: 59.5%;
  max-width: 100%;
  border-radius: 8px;
  margin: 17% auto 0;
  background-size: cover;
}

#GPHOTO_INFO {
  margin: 19% 4% 0;
  bottom: inherit;
  right: inherit;
}
