.clock{
  background-color:rgba(0,0,0,0.6);
  border-radius:8px;
  padding:8px;
}

.weather{
  background-color:rgba(0,0,0,0.6);
  border-radius:8px;
  padding:8px;
}

#GPHOTO_CURRENT {
  max-height: 82%;
  max-width: 100%;
  border-radius: 8px;
  margin: 20px auto 0;
}

#GPHOTO_INFO {
  top: -20px;
  left: 52%;
  bottom: inherit;
  right: inherit;
  background: none;
}
